.component {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  .baner {
    width: 80%;
    margin-top: 60px;
    border-radius: 20px;
  }
  .title{
    position: absolute;
    font-size: 29px;
    color: #fff;
  }
}

@media only screen and (max-width: 1110px){
  .component{

    .baner{
      width: 95%;
    }
    .title{
      font-size: 25px;
    }
  }
}