.component{
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    .title{
        font-size: 50px;
        width: 550px;
        align-self: center;
    }
    .text{
        margin-top: 30px;
        width: 800px;
        text-align: center;
        align-self: center;
    }
}