.component{
    width: 80%;
    margin-top: 50px;
    .title{
        font-size: 27px;
    }
    .text{
        color: rgb(101, 101, 101);
    }
}

@media only screen and (max-width: 1110px){
    .component{
        width: 95%;
    }
}
@media only screen and (max-width: 790px){
    .component{
        width: 100%;
        margin-left: 20px;
        .title{
            font-size: 25px;
        }
        .text{
            font-size: 15px;
        }
    }
}