.navbar{

}
.one{
    display: flex;
    align-items: center;
    .img{
        width: 150px;
    }
    .search{
        display: flex;
        align-items: center;
        border: 0.8px solid rgb(174, 174, 174);
    }
}
.links{
    margin-left: 120px;
    display: flex;
    align-items: center;
    .menu{
        margin: 0px 17px;
        .menubtn{
            padding: 5px 10px;
            border-radius: 20px;
            &:hover{
                background: rgb(234, 234, 234);
            }
            .title{
            font-size: 16px;
            }
        }
        // .list{

        //     .item{

        //     }
        // }
    }
}