.header{
    border-bottom:1px solid rgb(212, 212, 212) ;
}
.name{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    .title{
        margin-left: 5px;
        font-size: 20px;
        margin-bottom: 10px;
    }
}
.footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn{
    margin-top: 17px;
    padding: 8px 30px;
    background: white;
    border-radius: 10px;
}